<div class="profile__Goal profile__Goal-{{id}}  clearfix" data-user-id="{{users_id}}">


  <div class="profile__Goal-Header clearfix">
    <div class="profile__Goal-Author">
      <div class="profile__Goal-AuthorImage" style="background-color:{{users_color}}">
        {{users_initials}}
      </div>
      <div class="profile__Goal-AuthorInfoBlock">
        <div class="profile__Goal-AuthorName">
          <a href="/users/{{users_id}}">{{users_name}}</a>
        </div>
        <div class="profile__Goal-Created">
          <span>
            Created {{created}}
          </span>
        </div>
      </div>
    </div>
    <div class="goal__Options dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item goal__Options-Edit" type="button" data-goal-author="{{users_id}}" data-goal-id="{{id}}">Edit</button>
        <button class="dropdown-item goal__Options-Delete" type="button" data-delete-goal='{{id}}' data-author-id='{{users_id}}'>Delete</button>
      </div>
    </div>
  </div>

  <div class="profile__Goal-TitleBlock clearfix gradient-{{color}}">
    <a href="/goal/{{id}}" class="profile__Goal-Title">
      <span>{{title}}</span>
    </a>
  </div>

  <div id="accordion" role="tablist">
    <div class="card profile__Goal-Info">
      <div class=" profile__Goal-InfoHeading" role="tab">
          <a data-toggle="collapse" href="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            Completion status: <span class='profile__Goal-TaskCount-{{id}}'>0 Tasks in Progress</span>
          </a>

          {{#if completion_status}}
            <button type="button" class="btn btn-sm pull-right profile__Goal-CompleteButton profile__Goal-CompleteButton-{{id}} completed-goal" data-complete-goal-button={{id}} data-author-id='{{users_id}}' disabled>
              Goal Completed
            </button>
          {{else}}
            <button type="button" class="btn btn-sm pull-right profile__Goal-CompleteButton profile__Goal-CompleteButton-{{id}}" data-complete-goal-button={{id}} data-author-id='{{users_id}}'>
              Complete Goal
            </button>
          {{/if}}


      </div>

      <div id="collapse-{{id}}" class="collapse" role="tabpanel" data-parent="#accordion">
        <div class="profile__Goal-TaskArea" data-task-form-for-goal="{{id}}" data-goal-author-id={{users_id}}>

          {{#if completion_status}}

              {{!-- Hide Task Add Form --}}

            {{else}}
            

            <div class="profile__Goal-TaskAdd profile__Goal-TaskAdd-{{id}} clearfix" data-goal-author-id={{users_id}}>




                <form class="task__Add-Form task__Add-Form-{{id}}" data-task-form-for-goal="{{id}}">
                  <div class="form-group">
                    <label for="addNewTask">Add New Task</label>
                    <textarea name="newTask" class="form-control newTask-{{id}}" rows="1" data-new-task-for-goal="{{id}}" required></textarea>
                  </div>
                  <span class='task__Add-Msg-{{id}}'></span>
                  <button type="button" name="addNewTaskButton" class="btn btn-primary btn-sm pull-right addNewTaskButton" data-task-button-for-goal="{{id}}" data-task-button-for-user="{{users_id}}">Add Task</button>
                </form>



            </div>

          {{/if}}

          <ol class="profile__Goal-Tasks profile__Goal-Tasks-{{id}} list-group" data-list-for-goal="{{id}}">
            {{!-- Task List --}}
          </ol>

        </div>
      </div>
    </div>
  </div>


</div> <!-- End Profile Goal -->
